body {
  font-family: "hero-new", arial, sans-serif;
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  background: rgb(235, 235, 235);
}
nav li {
  display: inline-block;
  padding-top: 25px;
}
nav ul {
  min-height: 80px;
  padding: 10px;
  text-align: center;
  background-color: #d9d9d9;
  opacity: 88%;
}
nav a {
  color: #0a3641;
  text-decoration: none;
  padding: 10px;
  font-size: 1.5rem;
}
#logo {
  float: left;
  height: 75px;
  width: 140px;
}
section {
  float: right;
  padding-top: 25px;
  color: #0a3641;
}
nav a:hover {
  font-weight: bold;
}
.active {
  font-weight: bold;
}
h1 {
  font-family: "hero-new", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #0a3641;
  font-size: 1.8rem;
  text-align: center;
}
.column1of3 {
  float: right;
  margin: 0px;
  max-width: 460px;
}
.column2of3 {
  float: left;
  width: 450px;
  margin: 100px 20px 50px 20px;
}
.column3of3 {
  float: left;
  width: 300px;
  margin: 50px 100px 50px 100px;
}
footer {
  clear: both;
}
