body {
  font-family: "hero-new", arial, sans-serif;
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  background: rgb(235, 235, 235);
  margin: 0;
  padding: 0;

}
nav ul {
  padding-left: 0px;
}
nav {
  display: block;
  background-color: #d9d9d9;
  opacity: 88%;
  position: fixed;
  z-index: 100;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

nav a {
  color: #0a3641;
  text-decoration: none;
  padding: 10px;
  font-size: 1.2rem;
}

.icons {
  color: #0a3641;
  align-self: right;
  margin: auto;
}
.searchTerm {
  border: none;
  border-right: none;
  padding: 5px;
  height: 15px;
  border-radius: 20px;
  outline: none;
  color: black;
  font-family: "hero-new", arial, sans-serif;
  width: 100px;
}

.searchButton {
  display: inline-flex;
  font-size: 20px;
  border: none;
  margin: 0px;
  padding: 0px;
  background: none;
  color: #0a3641;
  cursor: pointer;
}
#search {
  display: inline-flex;
  font-size: 20px;
}
#faves {
  display: inline-flex;
  font-size: 20px;
  margin-left: 15px;
}
#cart {
  display: inline-flex;
  font-size: 20px;
}
nav a:hover {
  font-weight: bold;
}
.active {
  font-weight: bold;
}

.form__input {
  display: block;
  padding: 7px;
}
.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
  display: block;
}
section {
  float: right;
  padding-top: 25px;
  color: #0a3641;
}
h1 {
  font-family: "hero-new", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #0a3641;
  font-size: 1.8rem;
  text-align: center;
  padding-top: 75px;
  margin-top: 0px;
}

h2 {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
}
h5 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}
.products-container {
  max-width: 1000px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}
.product-header {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
}
.product-title {
  width: 45%;
  border-bottom: 1px solid #0a3641;
}
.price {
  width: 15%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #0a3641;
}
.quantity {
  width: 30%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #0a3641;
}
.total {
  width: 10%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #0a3641;
}
.product {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #0a3641;
}
.products-container ion-icon {
  font-size: 25px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.products img {
  width: 75px;
}
.basketTotalContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;
}
.basketTotalTitle {
  width: 30%;
}
.basketTotal {
  width: 10%;
}
#minus-icon, #trash-icon {
  margin-left: 0;
}
#plus-icon {
  margin-right: 0;
}
.section1,
.section2 {
  display: inline-block;
  align-items: center;
}
input[type="submit"] {
  background-color: #7a432f;
  color: rgb(235, 235, 235);
  border: none;
  border-radius: 8px;
  padding: 5px;
  margin: 10px;
}
#checkout-button {
  text-decoration: none;
  text-align: center;
  background-color: #0a3641;
  color: rgb(235, 235, 235);
  border: none;
  border-radius: 30px;
  padding: 20px 10px;
  font-size: 15px;
  font-family: "hero-new", sans-serif;
  display: block;
  margin: 1rem 0;
}
#checkout-button:hover {
  font-weight: bold;
}
input[type="submit"]:hover {
  opacity: 0.8;
}
.section1 {
  margin: 10px;
}
.section2 {
  margin: 10px;
}
.form-container {
  max-width: 450px;
  margin: 2rem auto;
}
.payment-form {
  padding: 0 5%;
  display: inline-block;
  margin: auto;
}
footer {
  display: flex;
  flex-direction: column;
}
footer a {
  text-decoration: none;
  color: #0a3641;
}
footer a:hover {
  color: #7a432f;
}
.footer_list {
  box-sizing: border-box;
  width: 100%;
}

/*mobile/tablet styles*/
@media only screen and (max-width: 950px) {
  body {
    font-size: 0.8rem;
  }
  nav {
    display: inline-flex;
    justify-content: space-between;
  }
  nav li {
    display: flex;
  }

  nav li {
    display: none;
  }

  #hamburger-menu {
    display: none;
  }

  .icons {
    color: #0a3641;
    float: right;
    margin: 20px 10px 20px 0px;
  }
  #faves {
    font-size: 15px;
    padding-left: 0px;
    margin-left: 0px;
  }
  .searchTerm {
    display: none;
  }
  .searchButton {
    display: none;
  }

  #cart {
    font-size: 15px;
  }
  #logo {
    width: 80px;
    margin-left: 50%;
  }
  nav #hamburger-menu:checked ~ ul li {
    display: flex;
  }
  nav label {
    color: #0a3641;
    display: block;
    position: absolute;
    left: 15px;
    top: 20px;
  }
  nav ul {
    margin: 50px 0px 0px 0px;
    padding: 0px;
  }
  nav a {
    padding: 5px;
    font-size: 1rem;
  }
  h1 {
    font-size: 1.4rem;
    padding-top: 70px;
  }
  h2 {
    font-size: 1rem;
  }
  h5 {
    font-size: 0.9rem;
  }
  
  footer {
    flex-direction: row;
    justify-content: center;
    margin: 2%;
  }
}

/*desktop styles*/
@media only screen and (min-width: 951px) {
  #hamburger-menu {
    display: none;
  }
  label[for="hamburger-menu"] {
    display: none !important;
  }

  nav li {
    display: inline-block;
    list-style: none;
    padding: 5px;
  }
  nav ul {
    display: inline-block;
  }
  .icons {
    float: right;
    margin-top: 20px;
    margin-right: 10px;
  }
  #logo {
    float: left;
    width: 110px;
    margin: 5px 10px;
  }
  nav {
    text-align: center;
  }
  .form__input {
    width: 300px;
  }
  .form-container {
    max-width: 800px;
    margin: 2rem auto;
  }
  footer {
    flex-direction: row;
  }
  .footer_list {
    margin: 5%;
  }
}