body {
  font-family: "hero-new", arial, sans-serif;
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  background: rgb(235, 235, 235);
  padding: 0px;
  margin: 0px;
}
header {
  margin: 0px;
  padding: 0px;
}
nav ul {
  padding-left: 0px;
}
nav {
  display: block;
  background-color: #d9d9d9;
  opacity: 88%;
  position: fixed;
  z-index: 100;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

nav a {
  color: #0a3641;
  text-decoration: none;
  padding: 10px;
  font-size: 1.2rem;
}
.searchTerm {
  border: none;
  border-right: none;
  padding: 5px;
  height: 15px;
  border-radius: 20px;
  outline: none;
  color: black;
  font-family: "hero-new", arial, sans-serif;
  width: 100px;
}

.searchButton {
  display: inline-flex;
  font-size: 20px;
  border: none;
  margin: 0px;
  padding: 0px;
  background: none;
  color: #0a3641;
  cursor: pointer;
}
#faves {
  display: inline-flex;
  font-size: 20px;
  margin-left: 15px;
}
#cart {
  display: inline-flex;
  font-size: 20px;
}
.icons {
  color: #0a3641;
  align-self: right;
  margin: auto;
}

nav a:hover {
  font-weight: bold;
}
.active {
  font-weight: bold;
}

h1 {
  font-family: "hero-new", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #0a3641;
  font-size: 1.8rem;
  text-align: center;
  padding-top: 75px;
  margin-top: 0px;
}
h3 {
  font-family: "hero-new", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #0a3641;
  font-size: 1.5rem;
  text-align: center;
}
#brokenheart {
  color: #0a3641;
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
main p {
  text-align: center;
}
input[type="submit"] {
  background-color: #7a432f;
  color: rgb(235, 235, 235);
  border: none;
  border-radius: 8px;
  padding: 5px;
  margin: 10px;
}
input[type="submit"]:hover {
  opacity: 0.8;
}
footer {
  display: flex;
  flex-direction: column;
  margin-top: 250px;
}
footer a {
  text-decoration: none;
  color: #0a3641;
}
footer a:hover {
  color: #7a432f;
}
.footer_list {
  box-sizing: border-box;
  width: 100%;
}
/*mobile/tablet styles*/
@media only screen and (max-width: 950px) {
  body {
    font-size: 0.8rem;
  }
  nav {
    display: inline-flex;
    justify-content: space-between;
  }
  nav li {
    display: flex;
  }

  nav li {
    display: none;
  }

  #hamburger-menu {
    display: none;
  }

  .icons {
    color: #0a3641;
    float: right;
    margin: 20px 10px 20px 0px;
  }
  #search {
    font-size: 15px;
  }
  #cart {
    font-size: 15px;
  }
  #faves {
    font-size: 15px;
    padding-left: 0px;
    margin-left: 0px;
  }
  .searchTerm {
    display: none;
  }
  .searchButton {
    display: none;
  }

  nav #hamburger-menu:checked ~ ul li {
    display: flex;
  }
  nav label {
    color: #0a3641;
    display: block;
    position: absolute;
    left: 15px;
    top: 20px;
  }
  nav ul {
    margin: 50px 0px 0px 0px;
    padding: 0px;
  }
  nav a {
    padding: 5px;
    font-size: 1rem;
  }
  #logo {
    width: 80px;
    margin-left: 50%;
  }
  h1 {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1rem;
  }
  h5 {
    font-size: 1.4rem;
  }

  footer {
    flex-direction: row;
    justify-content: center;
    margin-top: 250px;
  }
}

/*desktop styles*/
@media only screen and (min-width: 951px) {
  #hamburger-menu {
    display: none;
  }
  label[for="hamburger-menu"] {
    display: none !important;
  }

  nav li {
    display: inline-block;
    list-style: none;
    padding: 5px;
  }
  nav ul {
    display: inline-block;
  }
  .icons {
    float: right;
    margin-top: 20px;
    margin-right: 10px;
  }
  #logo {
    float: left;
    width: 110px;
    margin: 5px 10px;
  }
  nav {
    text-align: center;
  }

  footer {
    flex-direction: row;
  }
  .footer_list {
    margin: 5%;
  }
}
