body {
  font-family: "hero-new", arial, sans-serif;
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  background: rgb(235, 235, 235);
  margin: 0px;
}
header {
  background-image: url("../images/headercr.jpg");
  min-height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0%;
  margin-top: 0%;
}
nav li {
  display: inline-block;
  padding-top: 10px;
  padding-left: 10px;
}
nav ul {
  height: 7%;
  padding: 10px;
  text-align: center;
  background-color: #d9d9d9;
  opacity: 88%;
  margin: 0%;
  position: fixed;
  top: 0%;
  width: 100%;
}
nav a {
  color: #0a3641;
  text-decoration: none;
  padding: 10px;
  font-size: 1.2rem;
}
#logo {
  float: left;
  width: 110px;
  margin-left: 20px;
  margin-top: 0%;
}
#search {
  width: 30px;
}
#faves {
  width: 30px;
}
ul section {
  float: right;
  padding-top: 10px;
  color: #0a3641;
  margin-right: 20px;
}
h1 {
  font-family: "caflisch-script-pro";
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: #ebebeb;
  letter-spacing: 10px;
  position: absolute;
  left: 5%;
  bottom: 0%;
}
div p img:hover {
  opacity: 0.5;
}
nav a:hover {
  font-weight: bold;
}
.active {
  font-weight: bold;
}
div p {
  display: inline-block;
  align-items: center;
}
h2 {
  font-family: "hero-new", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #0a3641;
  font-size: 1.8rem;
  text-align: center;
}
footer {
  display: inline;
  min-width: cover;
}
footer form {
  float: right;
  padding: 10px;
}
footer form h3 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
input[type="submit"] {
  background-color: #7a432f;
  color: rgb(235, 235, 235);
  border: none;
  border-radius: 8px;
  padding: 5px;
  margin: 10px;
}
input[type="submit"]:hover {
  opacity: 0.8;
}
footer ul {
  padding: 10px;
  margin: 10px;
  text-align: center;
}
footer li {
  margin: 0px 100px;
  padding: 10px;
  display: inline-block;
}
footer a {
  text-decoration: none;
  color: #0a3641;
}
footer a:hover {
  color: #7a432f;
}
#footerlogo {
  width: 170px;
  float: left;
  margin-top: 40px;
}
