body {
  font-family: "hero-new", arial, sans-serif;
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  background: rgb(235, 235, 235);
}
h1 {
  font-family: "caflisch-script-pro";
  font-weight: 400;
  font-style: normal;
}
nav li {
  display: inline-block;
}
nav ul {
  padding: 0px;
}
nav a {
  color: #0a3641;
  text-decoration: none;
  padding: 10px;
  font-size: 30px;
}
nav a:hover {
  font-weight: bold;
}
.active {
  font-weight: bold;
}
