body {
  font-family: "hero-new", arial, sans-serif;
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  background: rgb(235, 235, 235);
}
header {
  background-image: url("../images/header.jpg");
  min-height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  font-family: "caflisch-script-pro";
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
}
nav li {
  display: inline-block;
}
nav ul {
  padding: 0px;
  text-align: center;
}
nav a {
  color: #0a3641;
  text-decoration: none;
  padding: 10px;
  font-size: 1.5rem;
}
#logo {
  float: left;
}
nav a:hover {
  font-weight: bold;
}
.active {
  font-weight: bold;
}
