body {
  background: rgb(235, 235, 235);
}
nav li {
  display: inline-block;
}
nav ul {
  padding: 0px;
}
nav a {
  color: #0a3641;
  text-decoration: none;
  padding: 10px;
  font-size: 30px;
}
nav a:hover {
  font-weight: bold;
}
.active {
  font-weight: bold;
}
