@font-face {
  font-family: "hero-new";
  src: url("https://use.typekit.net/af/bcdde2/00000000000000003b9af1d8/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/bcdde2/00000000000000003b9af1d8/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/bcdde2/00000000000000003b9af1d8/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}
body {
  font-family: "hero-new", arial, sans-serif;
  background: rgb(235, 235, 235);
}
h1 {
  font-family: "caflisch-script-pro";
  font-weight: 400;
  font-style: normal;
}
nav li {
  display: inline-block;
}
nav ul {
  padding: 0px;
}
nav a {
  color: #0a3641;
  text-decoration: none;
  padding: 10px;
  font-size: 30px;
}
nav a:hover {
  font-weight: bold;
}
.active {
  font-weight: bold;
}
