body {
  font-family: "hero-new", arial, sans-serif;
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  background: rgb(235, 235, 235);
  margin: 0px;
}
header {
  background-image: url("../images/headercr.jpg");
  min-height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0%;
  margin-top: 0%;
}

nav {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: #d9d9d9;
  opacity: 88%;
  margin: 0%;
  position: fixed;
  z-index: 100;
  width: 100%;
  padding: 0px;
}

nav a {
  color: #0a3641;
  text-decoration: none;
  padding: 10px;
  font-size: 1.2rem;
}

.icons {
  color: #0a3641;
  align-self: center;
  margin-right: 20px;
}

#search {
  display: inline-flex;
  font-size: 20px;
}
#faves {
  display: inline-flex;
  font-size: 20px;
  margin-left: 15px;
}
#cart {
  display: inline-flex;
  font-size: 20px;
}

h1 {
  font-family: "caflisch-script-pro";
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: #ebebeb;
  letter-spacing: 10px;
  position: absolute;
  left: 5%;
  bottom: 2%;
}
div p img:hover {
  opacity: 0.5;
  position: relative;
  z-index: 50;
}
nav a:hover {
  font-weight: bold;
}
.active {
  font-weight: bold;
}

div p {
  display: inline-block;
  align-items: center;
}
h2 {
  font-family: "hero-new", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #0a3641;
  font-size: 1.8rem;
  text-align: center;
}
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input[type="submit"] {
  background-color: #7a432f;
  color: rgb(235, 235, 235);
  border: none;
  border-radius: 8px;
  padding: 5px;
  margin: 10px;
}
input[type="submit"]:hover {
  opacity: 0.8;
}

.footer_list {
  flex: 1;
}
footer a {
  text-decoration: none;
  color: #0a3641;
}
footer a:hover {
  color: #7a432f;
}

/*mobile styles*/
@media only screen and (max-width: 799px) {
  #logo {
    align-self: center;
    width: 110px;
    margin-left: 20px;
  }
  nav li {
    display: flex;
  }
  nav li {
    display: none;
  }
  #hamburger-menu {
    display: none;
  }
  nav #hamburger-menu:checked ~ li {
    display: flex;
  }
}

/*desktop styles*/
@media only screen and (min-width: 800px) {
  #hamburger-menu {
    display: none;
  }
  label[for="hamburger-menu"] {
    display: none !important;
  }

  nav li {
    display: inline-flex;
    align-self: center;
    list-style: none;
  }
  nav ul {
    justify-content: center;
  }
  nav #logo {
    float: left;
    width: 110px;
  }
  footer {
    flex-direction: row;
    justify-content: center;
  }
}
