body {
  font-family: "hero-new", arial, sans-serif;
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  background: rgb(235, 235, 235);
  padding: 0px;
  margin: 0px;
}
header {
  background-image: url("../images/headercr.jpg");
  min-height: 650px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0%;
  padding: 0%;
}
nav ul {
  padding-left: 0px;
}
nav {
  display: block;
  background-color: #d9d9d9;
  opacity: 88%;
  position: fixed;
  z-index: 100;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

nav a {
  color: #0a3641;
  text-decoration: none;
  padding: 10px;
  font-size: 1.2rem;
}
.searchTerm {
  border: none;
  border-right: none;
  padding: 5px;
  height: 15px;
  border-radius: 20px;
  outline: none;
  color: black;
  font-family: "hero-new", arial, sans-serif;
  width: 100px;
}
.icons {
  color: #0a3641;
  align-self: right;
  margin: auto;
}

.searchButton {
  display: inline-flex;
  font-size: 20px;
  border: none;
  margin: 0px;
  padding: 0px;
  background: none;
  color: #0a3641;
  cursor: pointer;
}
#faves {
  display: inline-flex;
  font-size: 20px;
  margin-left: 15px;
}
#cart {
  display: inline-flex;
  font-size: 20px;
}

nav a:hover {
  font-weight: bold;
}
.active {
  font-weight: bold;
}

h1 {
  font-family: "caflisch-script-pro";
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: #ebebeb;
  letter-spacing: 10px;
  position: absolute;
  left: 5%;
  bottom: 15%;
}
h2 {
  font-family: "hero-new", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #0a3641;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
h3 {
  font-family: "hero-new", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #0a3641;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 30px;
}
h5 {
  font-family: "hero-new", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: red;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 70px;
}
span {
  display: block;
}

.sale {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  margin: auto;
  max-width: 1200px;
}
#menssale {
  width: 70%;
}
#womenssale {
  width: 70%;
}
#menssale:hover {
  opacity: 0.5;
  z-index: 0;
}
#womenssale:hover {
  opacity: 0.5;
  z-index: 0;
}
.menssale {
  position: relative;
  text-align: center;
}
.womenssale {
  position: relative;
  text-align: center;
}
.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-transform: uppercase;
  font-size: 2rem;
}

.image-carousel {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  background: #FFF;
}
.image-carousel img {
  height: 400px;
}
figure {
  margin: 0px;
  flex: 1;
  transition: 0.5s all;
  overflow: hidden;
  opacity: 0.5;
  height: 400px;
}
figure:hover {
  cursor: pointer;
}
.selected-image {
  flex: 3;
  opacity: 1;
}
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: auto;
  max-width: 1200px;
}

.item {
  margin: 5px;
  padding: 0px;
}
.product {
  width: 268px;
}
.item :nth-child(3) {
  text-decoration: line-through;
}
.item :nth-child(4) {
  color: red;
}
input[type="submit"] {
  background-color: #7a432f;
  color: rgb(235, 235, 235);
  border: none;
  border-radius: 8px;
  padding: 5px;
  margin: 10px;
}
input[type="submit"]:hover {
  opacity: 0.8;
}
footer {
  display: flex;
  flex-direction: column;
}
footer a {
  text-decoration: none;
  color: #0a3641;
}
footer a:hover {
  color: #7a432f;
}
.footer_list {
  box-sizing: border-box;
  width: 100%;
}

/*mobile/tablet styles*/
@media only screen and (max-width: 950px) {
  body {
    font-size: 0.8rem;
  }
  nav {
    display: inline-flex;
    justify-content: space-between;
  }
  nav li {
    display: flex;
  }

  nav li {
    display: none;
  }

  #hamburger-menu {
    display: none;
  }

  .icons {
    color: #0a3641;
    float: right;
    margin: 20px 10px 20px 0px;
  }
  #faves {
    font-size: 15px;
    padding-left: 0px;
    margin-left: 0px;
  }
  #cart {
    font-size: 15px;
  }
  .searchTerm {
    display: none;
  }
  .searchButton {
    display: none;
  }
  #logo {
    width: 80px;
    margin-left: 50%;
  }
  nav #hamburger-menu:checked ~ ul li {
    display: flex;
  }
  nav label {
    color: #0a3641;
    display: block;
    position: absolute;
    left: 15px;
    top: 20px;
  }
  nav ul {
    margin: 50px 0px 0px 0px;
    padding: 0px;
  }
  nav a {
    padding: 5px;
    font-size: 1rem;
  }
  header {
    min-height: 550px;
    background-size: cover;
  }
  h1 {
    font-size: 1.4rem;
    letter-spacing: 5px;
    position: absolute;
    left: 5%;
    bottom: 27%;
  }
  h2 {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1rem;
  }
  h5 {
    font-size: 1.4rem;
  }
  .sale {
    width: 90%;
  }
  .centered-text {
    font-size: 1.5rem;
  }
  h2 a {
    text-decoration-color: #0a3641;
    color: #0a3641;
  }
  .image-carousel {
    height: fit-content;
    padding-top: 0px;
    padding-bottom: 0px; 
    max-width: 540px;
  }
  figure {
    height: 250px;
  }
  .image-carousel img {
   height: 250px;
  }
  .container {
    max-width: 600px;
  }
  .product {
    width: 125px;
  }
  footer {
    flex-direction: row;
    justify-content: center;
    margin: 2%;
  }
}

/*desktop styles*/
@media only screen and (min-width: 951px) {
  #hamburger-menu {
    display: none;
  }
  label[for="hamburger-menu"] {
    display: none !important;
  }

  nav li {
    display: inline-block;
    list-style: none;
    padding: 5px;
  }
  nav ul {
    display: inline-block;
  }
  .icons {
    float: right;
    margin-top: 20px;
    margin-right: 10px;
  }
  #logo {
    float: left;
    width: 110px;
    margin: 5px 10px;
  }
  nav {
    text-align: center;
  }
h2 a {
  color: #0a3641;
  text-decoration: none;
  cursor: pointer;
}
  footer {
    flex-direction: row;
  }
  .footer_list {
    margin: 5%;
  }
}
